@font-face {
  font-family: "Beatrice";
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0;
  src: url("../fonts/Beatrice-Regular.eot");
  src: url("../fonts/Beatrice-Regular.woff2") format("woff2"),
    url("../fonts/Beatrice-Regular.woff") format("woff"),
    url("../fonts/Beatrice-Regular.ttf") format("truetype");
}

/* VARIABLES */
/* heading font size */
$hfs-l: 8.8vmin;
$hfs-m: 7.3vmin;
$hfs-s: 6.3vmin;
/* colors */
$main-color: #fff;

/* RESET */
* {
  color: $main-color;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body,
html {
  font-family: "Beatrice";
  color: $main-color;
  margin: 0;
  background: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: none;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: $hfs-l;
  font-weight: 500;
  mix-blend-mode: difference;
}

p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* HEADER */  
header {
}

#name {
  // top: 0.25rem;
  position: fixed;
  left: 0.5rem;
}

#menu {
  position: fixed;
  right: 0.5rem;
}

/* MAIN */
#main {

}

/* INTRO */
#intro{
  display: flex;
  justify-content: space-between;
  position: absolute;
  min-width: 98vw;
  top: 40vh;

  p {
    font-size: 1.8rem;
    text-align:start;
    overflow: hidden;
    max-width: 16ch;
    line-height: 1.1;
    margin-right: 2rem;
  }

  #right {
    max-width: 30ch;
    column-count: 2;
  }
}


/* FOOTER */
footer {
  height: 5vh;
  background: $main-color;
  display: flex;
  align-items: center;

  p {
    color: black;
  }
}

/* LOADING */
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#p5_loading {
  font-size: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // width: 90vw;
  animation: flash 0.5s infinite;
}

/* MEDIA QUERRIES */
@media only screen and (max-width: 1690px) {
  h1 {
    font-size: $hfs-m;
  }
}

@media only screen and (max-width: 1460px) {
  h1 {
    font-size: $hfs-s;
  }
}

// CURSOR

body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor__ball circle {
  fill: #f7f8fa;
}


/**************************************/
/*

a {
  color: grey;
  text-decoration: none;
  transition-duration: .6s;
  display: inline-block;
  margin: .1rem 0;
}

a:hover {
  color: var(--main-color);
}

h2 {
  margin-bottom: .4rem;
  font-weight: 600;
  font-size: 16px;
}

#title {
  font-weight: 600;
}

#subtitle {
  color: var(--main-color);
  font-weight: 600;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#p5_loading {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flash .5s infinite;
  position: absolute;
  z-index: 1;
  margin-top: 4rem;
}

#sketch {
  width: 300px;
  height: 300px;
  margin: .2rem 0;
  margin: -3.5rem 0 -3rem 0;
  position: relative;
  z-index: -1;
}

.shadow {
  text-shadow: 1px 1px white;
}

#footnote {
  font-size: 80%;
  overflow: hidden;
  max-width: 35ch;
} */
