// © 2022 Michael Kolesidis. All rights reserved.
// michael.kolesidis@gmail.com

@font-face {
  font-family: "Beatrice";
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0;
  src: url("../fonts/Beatrice-Regular.eot");
  src: url("../fonts/Beatrice-Regular.woff2") format("woff2"),
    url("../fonts/Beatrice-Regular.woff") format("woff"),
    url("../fonts/Beatrice-Regular.ttf") format("truetype");
}

/* VARIABLES */
/* heading font size */
$hfs-l: 7vw;
$hfs-m: 6.5vw;
$hfs-s: 6vw;
/* colors */
$main-color: #fff;

$project-borders: 0px;


/* RESET */
* {
  color: $main-color;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body,
html {
  font-family: "Beatrice", sans-serif;
  color: $main-color;
  margin: 0;
  background: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: url("../assets/windows95-cursor.png"), auto;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $hfs-l;
  font-weight: 500;
  mix-blend-mode: difference;
}

#large-text {
  font-size: 1.8rem;
  text-align: start;
  line-height: 1.1;
  font-weight: 500;
}

/* HEADER */
#name {
  // top: 0.25rem;
  position: fixed;
  left: 0.5rem;
}

#menu {
  position: fixed;
  right: 0.5rem;
}

/* MAIN */
#main {
}

.footnote {
  margin-top: 4rem;
  font-size: 1.2rem;
  max-width: 50ch;
}

/* INTRO */
#intro {
  display: flex;
  justify-content: space-between;
  position: absolute;
  min-width: 98vw;
  top: 40vh;

  p {
    @extend #large-text;
    margin: 1rem;
    overflow: hidden;
    max-width: 16ch;
    margin-right: 2rem;
  }

  #right {
    max-width: 30ch;
    column-count: 2;
  }
}

/* SECTIONS */
section {
  margin: 0 0 6rem 3rem;
}

/* PROJECTS */
#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    @extend #large-text;
    // font-weight: 600;
    margin-bottom: 0.2rem;
  }

  a {
    @extend p;
    img {
      height: 1.9rem;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.project-card {
  margin: 0 0 2rem 0;
  border: $project-borders solid #fff;
  max-width: 30rem;
  padding: 1rem;
}

.project-image {
  height: 20rem;
  border: 10px solid rgb(255, 255, 255);
}

.project-image:hover {
  -webkit-filter: invert(.9);
  filter: invert(.9);
}

.project-title {
  // border-bottom: 1px solid #fff;
}

.technologies {
  margin-top: 0.5rem;
  border-top: $project-borders solid #fff;
}

.repo-link {
  margin-top: 0.5rem;
  border-top: $project-borders solid #fff;
  font-size: 1.2rem;
}

/* CONTACT */
#contact {
  p,
  a {
    @extend #large-text;
  }

  a:hover {
    text-decoration: underline;
  }

  #email {
    margin-bottom: 4rem;
  }
}

/* FOOTER */
footer {
  height: 10vh;
  background: $main-color;

  display: flex;
  align-items: center;

  p {
    @extend #large-text;
    color: black;
    margin: 2rem;
  }
}

/* LOADING */
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#p5_loading {
  font-size: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // width: 90vw;
  animation: flash 0.5s infinite;
}

/* MEDIA QUERRIES */
@media only screen and (max-width: 1700px) {
  h1 {
    font-size: $hfs-m;
  }
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: $hfs-s;
  }
}

// CURSOR
// body .cursor {
//   pointer-events: none;
// }
// body .cursor__ball {
//   position: fixed;
//   top: 0;
//   left: 0;
//   mix-blend-mode: difference;
//   z-index: 1000;
// }
// body .cursor__ball circle {
//   fill: #f7f8fa;
// }

/* GRAIN */
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../assets/grain.jpg") no-repeat;
  background-size: cover;
  opacity: 0.05;
  filter: alpha(opacity=60);
  height: 100vh;
  pointer-events: none; // So that elements below grain are clickable
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none; // Chrome
}

body {
  scrollbar-width: none; // Firefox
}

/* UNDER CONSTRUCTION TICKER */
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-heading {
  position: absolute;
  background: #a6c22f;
  display: block;
  left: 0;
  top: 0;
  height: 2.5rem;
  padding: 11px 40px;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.ticker-wrap .ticker__item:before {
  content: "";
  height: 11px;
  width: 11px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  position: relative;
  margin-right: 15px;
}

.ticker-heading:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 11px solid #a6c22f;
  position: absolute;
  margin-left: 40px;
}

.ticker-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 100%;
  box-sizing: content-box;
  .ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  .ticker {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      padding: 0;
      font-size: 0.875rem;
      color: #fff;
    }
  }
}
