@font-face {
  font-family: "Beatrice";
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0;
  src: url("../fonts/Beatrice-Regular.eot");
  src: url("../fonts/Beatrice-Regular.woff2") format("woff2"),
    url("../fonts/Beatrice-Regular.woff") format("woff"),
    url("../fonts/Beatrice-Regular.ttf") format("truetype");
}

/* VARIABLES */
/* heading font size */
$hfs-l: 8vmin;
$hfs-m: 6.5vmin;
$hfs-s: 5.5vmin;
$hfs-xs: 5vmin;
/* colors */
$white: #fff;
$black: #0a0a0a;

/* RESET */
* {
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

/* GENERAL */
body,
html {
  font-family: "Beatrice", sans-serif;
  color: $white;
  margin: 0;
  background-color: $white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-x: hidden;
  cursor: url("../assets/windows95-cursor.png"), auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: $hfs-l;
  font-weight: 500;
}

h2 {
  font-size: $hfs-xs;
  font-weight: 500;
}

#large-text {
  font-size: 1.7rem;
  text-align: start;
  line-height: 1.1;
  font-weight: 500;
}

/* HEADER */
#name {
  position: fixed;
  left: 0.5rem;
  z-index: 1;
  mix-blend-mode: difference;
  color: $white;
}

#title-letter {
  display: inline-block;
  font-size: $hfs-l;
  transition: transform 2s ease;
}

#name:hover #title-letter {
  transform: scaleX(-1);
}

/* INTRO */
#intro {
  display: flex;
  justify-content: space-between;
  position: absolute;
  min-width: 98vw;
  top: 40vh;

  p {
    @extend #large-text;
    margin: 1rem;
    overflow: hidden;
    max-width: 16ch;
    margin-right: 2rem;
    color: $black;
  }

  #right {
    max-width: 30ch;
    column-count: 2;
  }
}

/* SECTIONS */
section {
  margin: 0 6rem 3rem;
}

/* WAVY SECTION TITLES */
.wavy {
  font-size: $hfs-s;
  margin: 1em 0 0.25em 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  margin: -0.2rem;
  color: $black;
}

.wavy:hover > span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* PROJECTS */
#projects-container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;

  h2 {
    @extend #large-text;
    margin-bottom: 0.2rem;
  }

  a {
    @extend p;
  }

  a:hover {
    text-decoration: underline;
  }
}

.project-card {
  padding: 4rem;
}

.project-card * {
  color: $black;
}

.project-image {
  height: 20rem;
  margin-bottom: 2em;
  border: 2px solid $black;
  transition: transform 1.2s ease-in-out, filter 1.5s ease-in-out,
    opacity 1.5s ease-in-out;
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.project-image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: perspective(600px) translateZ(200px) rotateX(20deg);
  opacity: 0.8;
}

.project-title {
  text-shadow: 1px 1px $black;
  white-space: nowrap;
  transition: all 2s ease;
}

.project-title:hover {
  letter-spacing: 0.25rem;
}

.technologies {
  margin-top: 0.5rem;
}

.repo-link {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

#more {
  max-width: 50ch;
  border: 2px solid $black;
  color: $black;
  padding: 20px;
  margin: 4em auto;
}

/* CONTACT */
#contact {
  p,
  a {
    @extend #large-text;
    color: $black;
  }

  a:hover {
    text-decoration: underline;
  }

  #email {
    margin-bottom: 4rem;
  }
}

/* ABOUT */
#about {
  @extend #contact;
  display: grid;
  p {
    margin-bottom: 3rem;
    max-width: 50ch;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 2em;
  }
}

/* THIS WEBSITE */
#about-website {
  @extend #about;

  a:hover {
    text-decoration: underline;
  }
}

/* FOOTER */
footer {
  height: 9.417em;
  background: url("../assets/floral.png");
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    @extend #large-text;
    font-size: 2.1rem;
    font-weight: 600;
    color: $white;
    text-shadow: 4px 4px $black;
    margin: 2rem;
  }
}

/* LOADING */
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#p5_loading {
  font-size: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: flash 0.5s infinite;
  color: $black;
}

/* GRAIN */
#overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../assets/grain.jpg") no-repeat;
  background-size: cover;
  opacity: 0.03;
  filter: alpha(opacity=60);
  height: 100vh;
  pointer-events: none; // So that elements below grain are clickable
}

/* TOP BUTTON */
#top-button {
  display: none; // Hidden by default
  position: fixed; // Fixed/sticky position
  bottom: 2.5vw; // Place the button at the bottom of the page
  right: 2vw; // Place the button 30px from the right
  z-index: 99; // Make sure it does not overlap
  border: none; // Remove borders
  outline: none; // Remove outline
  cursor: pointer; // Add a mouse pointer on hover
  border-radius: 6vw; // Rounded corners
  font-size: 2vw; // Increase font size
  line-height: 6vw;
  height: 6vw;
  width: 6vw;
  text-align: center;
  // mix-blend-mode: difference;
  opacity: 0.8;
  background: $black;
  color: $white;
  transition: transform 1s;
}

#top-button:hover {
  mix-blend-mode: normal;
  color: $white;
  background: $black;
  transform: rotate(360deg);
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 1em;
  background: rgb(248, 248, 248);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(27, 27, 27);
  outline: 1px solid rgb(31, 31, 31);
}

/* UNDER CONSTRUCTION TICKER */
$duration: 104s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-heading {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 2.5rem;
  padding: 11px 40px;
  z-index: 2;
  color: $white;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.ticker-wrap .ticker__item:before {
  content: "";
  height: 11px;
  width: 11px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  position: relative;
  margin-right: 15px;
}

.ticker-heading:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  margin-left: 40px;
}

.ticker-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 100%;
  box-sizing: content-box;
  .ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  .ticker {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0;
      font-size: 0.875rem;
      color: $black;
    }
  }
}

/* MEDIA QUERRIES */
@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 9vw;
    margin-top: 0.5rem;
  }

  #name {
    position: absolute;
    top: 0;
  }

  #title-letter {
    font-size: 9vw;
  }

  #intro {
    display: flex;
    flex-direction: column;

    p {
      max-width: -moz-fit-content;
      max-width: fit-content;
      font-size: 1.4rem;
    }

    #right {
      column-count: 1;
      max-width: fit-content;
      font-size: 1.4rem;
    }
  }

  .wavy {
    font-size: 9vw;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 1rem;
  }

  section {
    margin: 4rem 0.1rem 0 0.1rem;
  }

  #projects-container {
    display: flex;
    flex-direction: column;
  }

  .project-title {
    max-width: 15ch;
    white-space: unset;
  }

  .project-image {
    height: 15rem;
  }

  #contact {
    p {
      font-size: 1rem;
      margin: 0.6rem;
      max-width: 30ch;
    }

    a {
      margin: 4rem;
      text-decoration: underline;
    }
  }

  #about {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 3rem;
      max-width: 50ch;
    }
  }

  footer {
    width: 100%;

    p {
      font-size: 1rem;
      max-width: 80vw;
    }
  }
}

@media only screen and (min-width: 1500px) {
  #projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1880px) {
  #projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 2350px) {
  #projects-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
