@import '../../style/style.scss';
@import '../../style/variables.module.scss';
@import '../../style/animations.scss';

#intro {
  position: absolute;
  top: 68vh;
  display: flex;
  justify-content: space-between;
  min-width: 98vw;
  pointer-events: none;

  p {
    margin: 1rem;
    max-width: 16ch;
    min-width: 12ch;
    margin-right: 2rem;
    font-size: clamp(0.8rem, 2.5vh, 2rem);
    text-align: start;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $black;
    max-height: fit-content;
    padding: 10px;
    pointer-events: none;
  }

  #right {
    max-width: 31ch;
    min-width: 16ch;
    column-count: 2;
  }
}

#handwriting {
  position: relative;
  top: -38.1vh;
  right: clamp(-100em, max(-42vh, -41vw), 9em);

  p {
    font-family: 'Caveat', sans-serif;
    font-size: clamp(1em, 3.5vh, 2em);
    text-align: center;
    white-space: nowrap;
    line-height: 1em;
    pointer-events: auto;
    cursor: $pointer;
    transform: rotate(20deg);
    text-shadow: none;
    font-weight: 400;
    -webkit-text-stroke: 0;
    color: $black;
    background: $transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
    transition: opacity 1s ease;
  }
}

#tv-window {
  left: 520px;
  top: 540px;
  width: 480px;
  height: 360px;
  padding: 0;
  padding-top: 20px;
}

#tv-window canvas {
  width: 478px !important;
  height: 338px !important;
}

#duck-overlay {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 90.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

.duck-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}

#noise {
  width: 100%;
  height: 100%;
  border-bottom: none;
}

#radio-window {
  right: 490px;
  top: 380px;
  width: 110px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-button {
  cursor: $pointer;
  width: 30px;
}

#play-button:hover {
  animation: $flash;
}

#duck-window {
  width: 20em;
  height: 150px;
  right: 15em;
  top: 70px;
  font-weight: 400;

  .window-title {
    left: 0;
  }
}

#scroll-prompt {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  font-weight: 500;
  background-color: $white;
  box-shadow: $shadow;
  color: $black;
  border: $border;
  padding: 0.1em 0.5em;
  font-size: 2em;
  z-index: 998;
}

#duck-placeholder {
  transition: background-color 0.25s ease;
  border-bottom: $border;
}

#sunscreen {
  position: absolute;
  transform: rotate(-90deg);
  width: 100px;
  right: 100px;
  cursor: $pointer;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
