@font-face {
  font-family: 'Canva Sans';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0;
  src: url('./canva_sans.woff2') format('woff2');
}

@font-face {
  font-family: 'Canva Sans Bold';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0;
  src: url('./canva_sans_bold.woff2') format('woff2');
}

/********** General **********/
:root {
  --blue: #024ae3;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Canva Sans', Arial, Helvetica, sans-serif;
  color: var(--blue);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1vh 13vw 0.5em 13vw;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

#header {
  font-size: clamp(47px, 10vw, 200px);
  font-family: 'Canva Sans Bold', Arial, Helvetica, sans-serif;
  line-height: 0.8em;
  text-align: center;
  letter-spacing: -0.07em;
  white-space: nowrap;
}

#subheader {
  font-weight: 600;
  text-align: center;
  font-size: 1.85em;
  font-size: clamp(10px, 2.1vw, 42.5px);
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 1450px;
}

.section {
  padding: 1em;
}

#top-section {
  display: flex;
  grid-column: 1 / 3;
}

#summary {
  padding: 2em;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--blue);
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#links > a {
  text-decoration: none;
  font-family: 'Canva Sans Bold', Arial, Helvetica, sans-serif;
  max-width: fit-content;
}

#projects {
  grid-column: 1 / 3;
}

.project-card > a {
  text-decoration: none;
}

.project-title {
  font-family: 'Canva Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.technologies {
  font-style: italic;
}

.repo-link {
  font-family: 'Canva Sans Bold', Arial, Helvetica, sans-serif;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}

#awards {
  background-color: var(--blue);
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

#awards * {
  color: var(--white);
  text-decoration: none;
}

.award {
  padding: 1.25em;
}

#duck {
  margin: 3em;
  width: 3em;
}

@media (max-width: 775px) {
  #top-section {
    flex-direction: column;
  }

  #awards {
    flex-direction: column;
  }
}
