@font-face {
  font-family: 'Karlsbader Grotesk';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/KarlsbaderGrotesk-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Karlsbader Grotesk';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/KarlsbaderGrotesk-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat';
  font-display: block;
  block-timeout: 0.3;
  swap-timeout: 0.1;
  src: url('../fonts/Caveat.woff2') format('woff2');
}

/********** VARIABLES **********/
/* colors */
$white: #fff;
$black: #0a0a0a;
$transparent: rgba(0, 0, 0, 0);

/* stripes */
$stripes: linear-gradient(
  45deg,
  #ff90e8 10%,
  #ffc900 10%,
  #ffc900 20%,
  #ff7051 20%,
  #ff7051 30%,
  #3ecfc1 30%,
  #3ecfc1 40%,
  #90a8ed 40%,
  #90a8ed 50%,
  #ff90e8 50%,
  #ff90e8 60%,
  #ffc900 60%,
  #ffc900 70%,
  #ff7051 70%,
  #ff7051 80%,
  #3ecfc1 80%,
  #3ecfc1 90%,
  #90a8ed 90%,
  #90a8ed 100%
);

/* sizes */
$stripes-size: 141.42px 141.42px;
$title-size: 90px;

/* lines */
$line: 1px;

/* weights */
$thin: 400;
$bold: 500;
$heavy: 600;

/* cursors */
$cursor: url('../assets/cursors/cursor.png'), auto;
$pointer: pointer;
$grab: grab;
$help: help;
$wait: wait;

/* borders */
$border: $line solid $black;

/* animations */
$flash: flash 0.5s infinite;

/* shadows */
$shadow: 6px 6px black;
$stroke-shadow: 1.5px 1.5px 0px $black, -1.5px 1.5px 0px $black,
  1.5px -1.5px 0px $black, -1.5px -1.5px 0px $black, 1.5px 0px 0px $black,
  -1.5px 0px 0px $black, 0px 1.5px 0px $black, 0px -1.5px 0px $black,
  1px 1.5px 0px $black, -1px 1.5px 0px $black, 1px -1.5px 0px $black,
  -1px -1.5px 0px $black, 1.5px 1px 0px $black, -1.5px 1px 0px $black,
  1.5px -1px 0px $black, -1.5px -1px 0px $black, 1px 1px 0px $black,
  -1px 1px 0px $black, 1px -1px 0px $black, -1px -1px 0px $black;

/**********  GENERAL **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karlsbader Grotesk', sans-serif;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body,
html {
  background-color: $white;
  cursor: $cursor;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  border-right: $border;
}

a {
  cursor: $pointer;
  color: $black;
  text-decoration: none;
}

/********** HEADER **********/
#header {
  background-color: $white;
}

#name {
  position: fixed;
  top: 28px;
  // top: 24px;
  left: 18px;
  z-index: 4;
  color: $black;
  white-space: nowrap;
  font-size: $title-size;
  transition: font-size 0.3s ease, top 0.3s ease, left 0.3s ease;
  // font-family: 'TT Firs Text';
  font-weight: 600;
  letter-spacing: 1px;
}

#falling-letter {
  color: $black;
  font-size: $title-size;
  // font-family: 'TT Firs Text';
  cursor: $pointer;
}

#name.scrolled {
  font-size: 25px;
  top: 10px;
  left: 12px;
  mix-blend-mode: difference;
  color: $white;
}

#falling-letter {
  display: inline-block;
  transform-origin: center;
}

#falling-letter.clicked {
  animation: breakAndFall 2s ease-in forwards;
}

@keyframes breakAndFall {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  10% {
    transform: translateY(0) translateX(-1px) rotate(10deg);
  }
  20% {
    transform: translateY(0) translateX(1px) rotate(-10deg);
  }
  30% {
    transform: translateY(0) translateX(-1px) rotate(5deg);
  }
  100% {
    transform: translateY(100vh) translateX(0) rotate(360deg);
  }
}

#top-gap {
  height: 115px;
  border-bottom: $border;
}

/********** HEADER ELEMENTS **********/
#box {
  position: absolute;
  top: 160px;
  right: 20px;
  width: 200px;
  height: 200px;
  padding: 15px;
  overflow: hidden;
  cursor: $grab;
  box-shadow: $shadow;
  border: $border;

  button {
    position: absolute;
    top: 18px;
    right: 18px;
    padding-top: -0.3rem;
    border: 0;
    background-color: $black;
    color: $white;
    height: 34px;
    width: 37px;
    font-size: 1.4rem;
    line-height: 34px;
    text-align: center;
    transition: transform 0.15s linear;
    z-index: 2;
    cursor: $pointer;
  }

  button:hover {
    font-weight: 600;
    transform: scale(1.1);
  }
}

#box::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  background: repeating-linear-gradient(
    $white 0%,
    $white 7.5px,
    $black 7.5px,
    $black 15px,
    $white 15px,
    $white 22.5px,
    $black 22.5px,
    $black 30px
  );
  transform: translateX(-20%) translateY(-20%) rotate(-45deg);
  animation: animate 20s linear infinite;
}

#box .content {
  position: relative;
  background-color: $black;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box .content p {
  color: $white;
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
  }
}

#new,
#welcome,
#japanese,
#rays,
#art,
.project-request {
  position: absolute;
  cursor: $grab;
}

#new {
  left: 30px;
  transform: rotateZ(-10deg);
  padding: 0;
  border-radius: 100px;

  img {
    border-radius: 100px;
    margin-bottom: -0.5em;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    width: 190px;
  }
}

#welcome {
  top: 210px;
  left: 25px;
  max-width: fit-content;

  img {
    width: 210px;
  }
}

#rays {
  top: 165px;
  left: 50px;
  border-radius: 200px;
  width: 150px;
  max-height: 150px;
  background-color: $white;
  animation: rotate 180s infinite;

  img {
    border-radius: 200px;
    width: 150px;
  }
}

#japanese {
  right: 20px;
  top: 385px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0 $black;
  font-size: 2.3em;
  color: $black;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: $white;
  padding: 0.25em 0.05em 0.25em 0em;
  border: $border;
  text-align: center;
  box-shadow: $shadow;
  white-space: nowrap;
  max-width: fit-content;
}

.project-request {
  color: $black;
  background-color: $white;
  box-shadow: $shadow;
  border: $border;
  padding: 0.5em 0.75em;
  text-align: center;
  font-size: 1.1em;
  right: 160px;
  top: 58px;
  white-space: nowrap;
  max-height: fit-content;
  cursor: $grab;
  max-width: fit-content;
  min-width: fit-content;

  a {
    margin: 2.5px 5px;
    max-width: fit-content;
    max-height: fit-content;
    display: inline-block;
    cursor: $pointer;
  }

  a:hover {
    animation: $flash;
    animation-timing-function: steps(4, jump-both);
  }
}

#art {
  left: 30px;
  top: 339px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border: $border;
    box-shadow: $shadow;
  }
}

@keyframes rotate {
  to {
    transform: rotate(3580deg);
  }
}

#smiley {
  position: absolute;
  top: 35px;
  right: 110px;
  z-index: 2;
  animation: moveSmiley 3s ease-in-out forwards,
    levitate 2s ease-in-out infinite;

  img {
    position: absolute;
    width: 85px;
    cursor: $pointer;
    transition: transform 0.25s ease-in-out;
  }
}

@keyframes moveSmiley {
  0% {
    top: -150px;
  }
  100% {
    top: 35px;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#smiley.move-left img {
  animation: moveAndRotate 2s ease-in-out;
}

@keyframes moveAndRotate {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-600px, 0) rotate(720deg);
  }
  100% {
    transform: translate(0, 0) rotate(1440deg);
  }
}

/********** INTRO **********/
#intro {
  position: absolute;
  top: 68vh;
  display: flex;
  justify-content: space-between;
  min-width: 98vw;
  pointer-events: none;

  p {
    margin: 1rem;
    max-width: 16ch;
    min-width: 12ch;
    margin-right: 2rem;
    font-size: clamp(0.8rem, 2.5vh, 2rem);
    text-align: start;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: $black;
    // background-color: $white;
    // border: $border;
    // box-shadow: $shadow;
    max-height: fit-content;
    padding: 10px;
  }

  #right {
    max-width: 31ch;
    min-width: 16ch;
    column-count: 2;
  }
}

#handwriting {
  position: relative;
  top: -38.1vh;
  right: clamp(-100em, max(-42vh, -41vw), 12em);

  p {
    font-family: 'Caveat', sans-serif;
    font-size: clamp(1em, 4vh, 2.25em);
    text-align: center;
    white-space: nowrap;
    line-height: 1em;
    pointer-events: auto;
    cursor: $help;
    transform: rotate(20deg);
    text-shadow: none;
    font-weight: 400;
    -webkit-text-stroke: 0;
    color: $black;
    background: $transparent;
    border: none;
    box-shadow: none;
    opacity: 1;
    transition: opacity 1s ease;
  }
}

.window {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  color: $black;
  border: $border;
  border-top: 35px solid $black;
  background-color: $white;
  padding: 1em;
  cursor: $grab;
  box-shadow: $shadow;
  transition: opacity 0.35s;

  button {
    position: absolute;
    top: -35px;
    right: -2px;
    padding-top: -0.3rem;
    border: 0;
    background-color: $transparent;
    color: $white;
    cursor: $pointer;
    height: 34px;
    width: 37px;
    font-size: 1.4rem;
    line-height: 34px;
    text-align: center;
    transition: transform 0.15s linear;
    cursor: $pointer;
  }

  button:hover {
    font-weight: 600;
    transform: scale(1.1);
  }

  .window-title {
    position: absolute;
    color: $white;
    top: -27px;
    left: 9px;
    pointer-events: none;
  }
}

.list-window {
  padding-right: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  transition: background-color 0.25s ease;

  .app-button {
    font-size: 1.1em;
  }

  .left {
    text-align: right;
  }

  div,
  a {
    transition: transform 0.15s linear;
  }

  div:hover,
  a:hover {
    cursor: $pointer;
    animation: $flash;
    animation-timing-function: steps(4, jump-both);
  }
}

#apps-window {
  right: 250px;
  top: 160px;
  width: 10em;
  height: 120px;
}

#links-window {
  right: 250px;
  top: 310px;
  width: 13em;
  padding-right: 40px;
  padding-left: 2.5em;
  height: 150px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  align-items: center;
}

.social-icon {
  width: 30px;
}

#tv-window {
  left: 520px;
  top: 540px;
  width: 480px;
  height: 350px;
  padding: 0;
}

#duck-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

.duck-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
}

#noise {
  width: 100%;
  height: 100%;
  border-bottom: none;
}

#radio-window {
  right: 490px;
  top: 380px;
  width: 110px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-button {
  cursor: $pointer;
  width: 30px;
}

#duck-window {
  width: 20em;
  height: 150px;
  right: 15em;
  top: 70px;
  font-weight: 400;
}

#scroll-prompt {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  font-weight: 500;
  background-color: $white;
  box-shadow: $shadow;
  color: $black;
  border: $border;
  padding: 0.1em 0.5em;
  font-size: 2em;
  z-index: 998;
}

canvas {
  border-bottom: $border;
}

#sketch-placeholder {
  transition: background-color 0.25s ease;
}

#p5_loading {
  position: absolute;
  top: 140px;
  margin: auto;
  width: 100vw;
}

#sunscreen {
  position: absolute;
  transform: rotate(-90deg);
  width: 100px;
  right: 100px;
  cursor: $pointer;
}

@keyframes shake {
  0% {
    transform: rotate(-90deg) translateX(0);
  }
  25% {
    transform: rotate(-90deg) translateX(-10px);
  }
  50% {
    transform: rotate(-90deg) translateX(10px);
  }
  75% {
    transform: rotate(-90deg) translateX(-10px);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

/********** SECTIONS **********/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
  padding-bottom: 50px;
}

/********** SECTION TITLES **********/
.wavy {
  font-size: 70px;
  display: flex;
  font-weight: 600;
  color: $black;
  margin: 0 0 80px 0;
  max-width: fit-content;
}

.wavy span {
  position: relative;
  display: inline-block;
}

.wavy:hover span {
  animation: wavy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/********** PROJECTS **********/

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $white;
  background-position: bottom right;
  padding: 20px 20px;
  gap: 20px;

  a {
    @extend p;
  }
}

.project-card {
  padding: 1.5rem 2.5rem;
  display: block;
  animation: fadeInFromNone 0.5s ease-out;
  background-color: $white;
  color: $black;
  border: $border;
  transition: background-color 0.25s ease, box-shadow 0.4s ease-in-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.project-image-container,
.project-image {
  position: relative;
  z-index: 3;
}

.project-image-container {
  margin-bottom: -1em;
  border: $border;
  max-width: fit-content;
  height: 19.15rem;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  cursor: $pointer;
}

.project-card:hover:not(:has(.project-image-container:hover)) {
  box-shadow: $shadow;
}

.project-image-container:hover {
  box-shadow: $shadow;
}

.project-card:has(.project-image-container:hover) {
  box-shadow: none;
}

.project-image {
  height: 19rem;
  transition: opacity 0.9s ease-in-out;
}

.project-title {
  font-size: 2em;
  font-weight: 700;
  white-space: nowrap;
  text-align: left;
  letter-spacing: 0.1em;
  color: $black;
  text-shadow: 2px 2px $white, 3px 3px $black;
}

.project-title:hover {
  animation: $flash;
  animation-timing-function: steps(4, jump-both);
}

@keyframes flash {
  0% {
    display: block;
    opacity: 1;
  }

  5% {
    display: none;
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0.5;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.project-summary,
.technologies {
  pointer-events: none;
}

.project-summary {
  padding: 1em 1em 1em 0;
  font-weight: 500;
  text-align: justify;
}

.separator {
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0;
}

.technologies {
  margin: 0.2rem 0 1.5rem 0;
  font-size: 0.75rem;
  background-color: $black;
  color: $white;
  max-width: fit-content;
  padding: 0.5em 0.8em;
  opacity: 0;
}

.repo-link {
  font-weight: 500;
  font-size: 1.4rem;
  opacity: 0;
}

.project-card:hover .separator,
.project-card:hover .technologies,
.project-card:hover .repo-link {
  opacity: 1;
}

.repo-link::after {
  color: $transparent;
  display: none;
}

.repo-link:hover::after {
  color: $transparent;
  content: '.......';
  background-image: url('../assets/duck.svg');
  background-size: 50px 25px;
  // height: 10px;

  background-repeat: no-repeat;
  display: inherit;
}

#show-more {
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: $black;
  border: $border;
  width: 60%;
  transition: box-shadow 0.4s ease-in-out;
  cursor: $pointer;
}

#show-more:hover {
  box-shadow: $shadow;
}

#more {
  padding: 20px;
  text-align: center;
  border-top: $border;
  border-bottom: $border;
  font-size: 1.5em;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
}

/********** CONTACT **********/
#contact {
  border-bottom: $border;

  #project-request-contact {
    position: static;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: none;
  }

  #project-request-contact:hover {
    animation: none;
    box-shadow: $shadow;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 3em;
    font-weight: 400;
    max-width: 40ch;
    text-align: center;
  }

  a {
    font-size: 2rem;
  }
}

#socials {
  display: flex;
}

.social {
  display: inline-block;
  margin: 2vw;
  font-weight: 600;
  max-width: fit-content;
}

.social:hover {
  animation: $flash;
}

.social-icon-large {
  width: 70px;
}

/********** ABOUT **********/
#about {
  @extend #contact;

  .sentence {
    letter-spacing: 0.05em;
  }

  p {
    will-change: transform, box-shadow, background-color;
    padding: 3rem;
    margin-bottom: 1em;
    border: $border;
    box-shadow: none;
    max-width: 60ch;
    min-width: 12ch;
    text-justify: inter-cluster;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      background-color 0.25s ease;
  }

  p:hover {
    max-width: 60ch;
    transform: perspective(100px) translateZ(10px) !important;
    box-shadow: $shadow;
    z-index: 99;
  }
}

/********** AWARDS **********/
#awards {
  border-bottom: $border;
  padding: 1em 0;
  background-color: $white;
  color: $black;
  display: flex;
}

#awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.award {
  display: flex;
  margin-bottom: 7em;
  color: $black;
  max-height: fit-content;
}

.award-certificate {
  margin: 20px 30px;
  padding: 20px 10px;
  border: $border;
  transition: background-color 0.25s ease, box-shadow 0.4s ease-in-out;

  img {
    width: 130px;
  }
}

.award-certificate:hover {
  box-shadow: $shadow;
}

.award-details {
  margin-top: 3.7em;
}

.award-title {
  font-weight: 600;
  font-size: 1.7rem;
}

.award-awarder {
  font-size: 1.7rem;
}

.award-title > span,
.award-awarder > span {
  display: inline-block;
  white-space: pre;
  letter-spacing: 0.04em;
  transition: all 0.5s ease-out;
  color: $black;
}

.award-title:hover > span,
.award-awarder:hover > span {
  transform: rotate(-20deg);
}

.award-description {
  max-width: 60ch;
  font-size: 1.1rem;
  margin-left: 0.9em;
  color: $black;
}

/********** THIS WEBSITE **********/
#this-website {
  @extend #about;

  border: none;

  p {
    padding: 0;
    max-width: 60ch;
    margin: 0 3em 1.3em 3em;
    border: none;
    box-shadow: none;
    font-size: 1.4em;
    text-align: left;
  }

  p:hover {
    transform: translateZ(0) !important;
    box-shadow: none;
  }

  svg {
    margin: 50px 0 25px 0;
    width: 325px;
  }

  .highlight {
    font-weight: 600;
  }
}

/********** FOOTER **********/
footer {
  height: 35em;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: relative;

  a,
  p {
    color: $white;
  }

  a {
    text-decoration: underline;
  }
}

#duck {
  margin-top: 10em;
  margin-bottom: 1em;
  width: 80px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  cursor: $pointer;
  transition: all 0.25s;
}

#duck:hover {
  transform: rotateZ(15deg);
}

#duck:hover #duck-path {
  fill: #ffc900;
}

#copyright {
  font-size: 2.2rem;
  font-weight: 500;
  color: $white;
  text-shadow: 4px 4px $black;
  transition: content 2s;
  width: 19ch;
  text-align: center;
}

#disclaimer,
#accessible,
#desktop-prompt {
  color: $white;
  max-width: 38ch;
  text-align: center;
  font-size: 1em;
}

#accessible {
  margin-top: 25px;
}

#bottom-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
}

.bottom-link {
  margin: 0 8px;
  font-size: 0.8em;
}

/********** LOADING **********/
#p5_loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-color: $white;
  cursor: $wait;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    background-color: $black;

    div {
      font-size: 20vw;
      font-weight: 400;
      animation: $flash;
      color: $white;
      background-image: $stripes;
      background-size: $stripes-size;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: $transparent;
      animation: barberpole 3s linear infinite;
    }
  }

  @keyframes barberpole {
    0% {
      background-position: -50% -50%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
}

/********** TOP BUTTON & SOUND BUTTON **********/
#top-button,
#sound-button {
  opacity: 0;
  position: fixed;
  bottom: 1.5vh;
  z-index: 99;
  font-weight: 600;
  cursor: $pointer;
  border-radius: 50%;
  font-size: 2vw;
  text-align: center;
  background: $black;
  color: $white;
  transition: all 1s;
  background-clip: padding-box;
}

#top-button {
  height: 6.5vw;
  width: 6.5vw;
  line-height: 6.5vw;
  right: 1vw;
  pointer-events: none;
}

#top-button:hover {
  transform: rotate(360deg);
}

#sound-button {
  background: $white;
  left: 1vw;
  padding: 0.25em;
  width: 5.5vw;
  height: 5.5vw;
  transition: all 1s;
}

/********** SCROLLBAR **********/
body::-webkit-scrollbar {
  width: 1em;
  background: $white;
}

body::-webkit-scrollbar-thumb {
  background-color: $black;
  outline: $border;
}

/********** TICKER **********/
$duration: 500s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap .ticker-item:before {
  content: '';
  height: 11px;
  width: 11px;
  display: inline-block;
  // background-color: $transparent;
  position: relative;
  margin-right: 15px;
}

.ticker-wrap {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  height: 1.5rem;
  padding-left: 0;
  box-sizing: content-box;
  // mix-blend-mode: difference;
  border-bottom: $border;

  .ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .ticker {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    color: $white;
    background-color: $black;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 1.5px;
    // border-bottom: $border;

    &-item {
      display: inline-block;
    }
  }
}

/********** MEDIA QUERRIES **********/
@media only screen and (max-width: 820px) {
  #smiley,
  #japanese,
  #welcome,
  #smiley,
  #art,
  #rays {
    display: none;
  }
}

/********** MOBILE **********/
@media only screen and (max-width: 700px) {
  html,
  body {
    border: 0;
    overflow-x: hidden;
  }

  /********** MOBILE: Ticker **********/
  .ticker-wrap {
    display: none;
  }

  /********** MOBILE: Header **********/
  #top-gap {
    height: 65px;
  }

  #new {
    img {
      position: absolute;
      top: -70px;
      left: -5px;
      width: 100px;
    }
  }

  #box {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 120px;
    height: 120px;
    padding: 10px;
    font-size: 0.8em;
    width: 150px;

    button {
      display: none;
    }
  }

  #name {
    font-size: 9vw;
    position: absolute;
    top: 10px;

    span {
      font-size: 9vw;
    }
  }

  /********** MOBILE: Intro **********/
  #intro {
    background-color: #f7d106;
    background-image: url('../assets/duck.gif');
    background-position: center center;
    background-repeat: no-repeat;
    position: static;
    top: 65px;
    height: 95vh;
    border-bottom: $border;
    background-size: 100%;

    p {
      text-shadow: none;
      color: $black;
    }

    #left {
      display: none;
    }

    #right {
      display: block;
      font-size: 1em;
      column-count: 1;
      position: absolute;
      bottom: 10px;
    }
  }

  #handwriting {
    display: none;
  }

  #welcome {
    display: none;
  }

  #scroll-prompt {
    display: none;
  }

  canvas {
    display: none;
  }

  #sunscreen {
    display: none;
  }

  #sketch-placeholder {
    display: none;
  }

  #p5_loading {
    display: none;
  }

  #new {
    left: 20px;
    img {
      animation: none;
    }
  }

  /********** MOBILE: Sections **********/
  .wavy {
    font-size: 9vw;
    margin-top: 0;
    padding: 0;
  }

  section {
    margin: 2rem 0.1rem 0 0.1rem;
  }

  /********** MOBILE: Projects **********/
  #projects-container {
    display: flex;
    flex-direction: column;
    background: none;
    // max-width: 90vw;
  }

  .project-card {
    padding: 20px;
  }

  .project-title {
    max-width: 15ch;
    text-shadow: none;
    white-space: unset;
    letter-spacing: 0.05em;
    font-size: 1.4em;
  }

  .project-title:hover {
    letter-spacing: 0.05em;
    text-shadow: none;
  }

  .project-image {
    height: 11rem;
    box-shadow: none;
    border: $border;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .project-image:hover {
    transform: none;
  }

  #more {
    font-size: 1em;
    border-bottom: $border;
  }

  /********** MOBILE: Contact **********/
  #contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;

    p {
      font-size: 1rem;
      margin: 0;
      margin-left: 5vw;
    }

    a {
      margin: 0rem;
      margin-left: 5vw;
      font-size: 1.5em;
    }
  }

  #socials {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: -30px;
  }

  .social::after {
    color: $black;
    content: '';
  }

  .social:hover::after {
    color: $black;
    background-image: none;
    content: '';
  }

  /********** MOBILE: About **********/
  #about {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    margin-left: 5vw;

    .wavy {
      margin-left: 5vw;
    }

    p {
      margin-bottom: 3rem;
      padding: 30px;
      font-size: 1.1em;
      width: 25ch;
      box-shadow: none;
      border: $border;
    }

    p:hover {
      transform: none;
      box-shadow: none;
    }
  }

  /********** MOBILE: Award **********/
  #awards {
    margin-left: 1em;
    display: none;
  }

  .award-certificate {
    display: none;
  }

  .award-title {
    font-size: 1.4em;
    width: 10ch;
  }

  .award-awarder {
    font-size: 1.2em;
  }

  #this-website {
    display: none;
    margin: 0.1em;
    text-align: left;
    @extend #about;

    a {
      font-size: 1em;
    }
  }

  /********** MOBILE: Footer **********/
  footer {
    width: 100%;
    height: 70vh;
    padding: 0 1em;

    p {
      max-width: 80vw;
    }
  }

  /********** MOBILE: Top Button **********/
  #top-button {
    display: none;
  }

  #top-button:hover {
    transform: none;
  }
}

/********** MEDIA QUERRIES: Grid **********/
@media only screen and (min-width: 700px) and (max-width: 820px) {
  #sketch-placeholder {
    display: none;
  }

  #p5_loading {
    display: none;
  }

  canvas {
    display: none;
  }

  #sound {
    display: none;
  }

  #handwriting {
    display: none;
  }

  #top-gap {
    height: 100px;
  }

  #name {
    font-size: 9vw;
    position: absolute;
    top: 10px;

    span {
      font-size: 9vw;
    }
  }

  #right {
    column-count: 1;
  }

  #projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  #projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  #socials {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1600px) {
  #projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 2200px) {
  #projects-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #awards-container {
    flex-direction: row;
  }
}
