@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  color: grey;
  text-decoration: none;
  transition-duration: 0.6s;
  display: inline-block;
  margin: 0.1rem 0;
}

a:hover {
  color: rgb(255, 57, 192);
}

h2 {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-size: 16px;
}

::selection {
  background: rgb(214, 214, 214); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgb(214, 214, 214); /* Gecko Browsers */
}

#title {
  font-weight: 600;
}

#subtitle {
  color: rgb(255, 57, 192);
  font-weight: 600;
}

#sketch {
  width: 300px;
  height: 300px;
  margin: 0.2rem 0;
}

#root {
  margin: 1rem;
  max-width: fit-content;
}

#bear {
  height: 100px;
  position: sticky;
  bottom: 0;
  right: 0;
  margin: 1rem;
  filter: invert(39%) brightness(97%);

}
